<div class="col-md-3">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-dark">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-light text-decoration-none">
            <span class="fs-4">Categories</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="{{ url_for('main.index') }}" class="nav-link link-light {% if not selected_category %}active{% endif %}">
                    All
                </a>
            </li>
            {% for category in categories %}
            <li>
                <a href="{{ url_for('main.index', category=category) }}" 
                   class="nav-link link-light {% if category == selected_category %}active{% endif %}">
                    {{ category }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>